* {
    background-color: #373738;
    color: white;
}

/*Header*/
.inline-block {
    display: inline-block;
    vertical-align: top;
    color: white;
    columns: 4;
    list-style: none;
}

.logo {
    width: 23%;
    padding: 1%;
}


/*Hero Image*/
.hero {
    background-image: url("../images/mainself.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero div h1 {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(-50%,-50%);
    background-color: none;
}

.hero div p {
    position: absolute;
    bottom: 20%;
    left: 75%;
    transform: translate(-50%,-50%);
    background-color: none;
}

.hero div button {
    position: absolute;
    bottom: 15%;
    left: 75%;
    transform: translate(-50%,-50%);
    background-color: none;
    color: white;
}

.hero ul {
    width: 50%;
    margin-left: auto;
}

ul > li {
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.logo {
    text-align: center;
}

.div {
    height: 600px;
    padding: 25px;
}

div img {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}


/*Cards*/
.homecardholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #949189 10px;
}

.homecardholder .card {
    display: flex;
    border: #949494 2px;
    max-width: 800px;
    flex-direction: row;
    align-items: center;
}

.homecardholder .card img {
    width: 800px;
    height: auto;
}


/*My UX Skills*/
.flexContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}

.flexContainer .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.mySkills img {
    width: 80%;
    height: auto;
}

.mySkills h1 {
    text-align: center;
}


/*My Work*/
.myWork {
    text-align: center;
    background-color: none;
}

.workGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workGrid div img {
    max-width: 100%;
    height: auto;
    justify-content: left;
    padding: 2rem;
}

.workGrid div h4 {
    padding-left: 100px;
    text-align: left;
}

.workGrid div p {
    padding-left: 100px;
    text-align: left;
}

button {
    background-color: #949189;
    text-align: center;
}


/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}



/*Mobile Media Query*/
@media only screen and (max-width: 600) {
    flex-direction: column;
    width: 100%;
    grid-template-rows: 300px;
    grid-template-columns: 1fr;
}